{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div id="heading">
        <img src="https://eatnoto.com/cdn/shop/files/Website_logo_180x.png?v=1709207376" alt="" id="one">
    </div>
    <!-- navbar -->
        <nav id="navbar">
            <a href="{% url 'page:home' %}" class="tags">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Ice Cream Library<span class="arrow">&#9662;</span></button>
                <div class="dropdown-content">
                    <a href="{% url 'page:waffle' %}">Waffle Icecream Sandwich</a>
                    <a href="{% url 'page:creambars' %}">Ice Cream Bars</a>
                    <!-- <a href="{% url 'page:minibites' %}">Mini Bites</a> -->
                    <!-- <a href="{% url 'page:lowcal' %}">Low Cal Ice Creams</a> -->
                </div>
            </div>
            <a href="{% url 'page:cakes' %}" class="tags">Cheesecakes</a>
            <a href="{% url 'page:aboutus' %}" class="tags">About Us</a>
        </nav>
        <!-- poster -->
        <div id="temp">
           <a href="https://www.swiggy.com">
            <img src="https://eatnoto.com/cdn/shop/files/Website-Banner2-Final.jpg?v=1709302287" alt="" id="img">
           </a>
        </div>
        <!-- list of items -->
        <h2 id="your_treat">CHOOSE YOUR TREAT</h2>
    <div id="main_list">
            {% for i in data %}
                <div class="list_div">
                    <img src="{{ i.img.url }}" alt="" class="img_list">
                    {% if i.heading == 'bars' %}
                        <a href="{% url 'page:bars' %}">
                    {% elif i.heading == 'pop' %}
                        <a href="{% url 'page:pop' %}">
                    {% elif i.heading == 'bites' %}
                        <a href="{% url 'page:bites' %}">
                    {% elif i.heading == 'desserts' %}
                        <a href="{% url 'page:desserts' %}">
                    {% else %}
                        <a href="{% url 'page:cakes' %}">
                    {% endif %}
                        <button class="button_bars" id="bar">{{ i.name }}</button>
                        <button id="arrow1">
                            <img src="../static/curvedrarrow.jpeg" alt="" class="arrow_img">
                        </button>
                    </a>
                </div>
            {% endfor %}
            <!-- <div class="list_div">
                <img src="https://eatnoto.com/cdn/shop/files/Pop_500x.png?v=1709190563" alt="" class="img_list">
                <a href="{% url 'page:pop' %}">
                    <button class="button_bars" id="pop">POPSICLES</button>
                    <button id="arrow2">
                        <img src="../static/curvedrarrow.jpeg" alt="" class="arrow_img">
                    </button>
                </a>
            </div>
            <div class="list_div">
                <img src="https://eatnoto.com/cdn/shop/files/Mini_1_500x.png?v=1709190606" alt="" class="img_list">
                <a href="{% url 'page:bites' %}">
                    <button class="button_bars" id="mini">MINI BITES</button>
                    <button id="arrow3">
                        <img src="../static/curvedrarrow.jpeg" alt="" class="arrow_img">
                    </button>
                </a>
            </div>
            <div class="list_div">
                <img src="https://eatnoto.com/cdn/shop/files/500ml_tub_500x.png?v=1709129385" alt="" class="img_list">
                <a href="{% url 'page:desserts' %}">
                    <button class="button_bars" id="cre">DESSERTS</button>
                    <button id="arrow4">
                        <img src="../static/curvedrarrow.jpeg" alt="" class="arrow_img">
                    </button>
                </a>
            </div>
            <div class="list_div">
                <img src="https://eatnoto.com/cdn/shop/files/cheesecake_icon_1_500x.png?v=1697808259" alt="" class="img_list">
                <a href="{% url 'page:cakes' %}">
                    <button class="button_bars" id="yogurt">CHEESE CAKES</button>
                    <button id="arrow5">
                        <img src="../static/curvedrarrow.jpeg" alt="" class="arrow_img">
                    </button>
                </a>
            </div> -->
        </div>
        <!-- summer delights -->
        <h2 id="summer">SUMMER DELIGHTS</h2>
        <div id="delights">
            {% for i in data1 %}
                <div class="summer_div" id="summer1">
                    <a href="">
                        <img src="{{ i.img.url }}" alt="" class="sum" id="delight1">
                    </a>
                    <h3>
                        <a href="" class="hazelunt">{{ i.name }}</a>
                    </h3><br>
                    <span class="price_summer">₹{{ i.price }}.00</span><br>
                    <a href="https://www.swiggy.com" class="del">
                        <button class="or_swiggy">order on swiggy</button>
                    </a>
                    <a href="https://www.zomato.com" class="del">
                        <button class="or_zomoto">order on zomoto</button>
                    </a>
                </div>
            {% endfor %}
            <!-- <div class="summer_div" id="summer2">
                <a href="">
                    <img src="https://eatnoto.com/cdn/shop/files/StrawberryFront._1_533x.jpg?v=1709117706" alt="" class="sum" id="delight2">
                </a>
                <h3>
                    <a href="" class="hazelunt">STRAWBERRY RASPBERRY POP</a>
                </h3><br>
                <span class="price_summer">₹ 120.00</span><br>
                <a href="https://www.swiggy.com" class="del">
                    <button class="or_swiggy">order on swiggy</button>
                </a>
                <a href="https://www.zomato.com" class="del">
                    <button class="or_zomoto">order on zomoto</button>
                </a>
            </div>
            <div class="summer_div" id="summer3">
               <a href="">
                <img src="https://eatnoto.com/cdn/shop/files/belgian_front._720x.jpg?v=1709032877" alt="" class="sum" id="delight3">
               </a>
               <h3>
                    <a href="" class="hazelunt">BELGIAN CHOCOLATE 125ML</a>
               </h3><br>
               <span class="price_summer">₹ 110.00</span><br>
               <a href="https://www.swiggy.com" class="del">
                    <button class="or_swiggy">order on swiggy</button>
               </a>
               <a href="https://www.zomato.com" class="del">
                    <button class="or_zomoto">order on zomoto</button>
               </a>
            </div>
            <div class="summer_div" id="summer4">
                <a href="">
                    <img src="https://eatnoto.com/cdn/shop/files/DarkChoc_Front_720x.jpg?v=1709036311" alt="" class="sum" id="delight4">
                </a>
                <h3>
                    <a href="" class="hazelunt">DARKER CHOCOLATE 125ML</a>
                </h3><br>
                <span class="price_summer">From ₹ 110.00</span><br>
                <a href="https://www.swiggy.com" class="del">
                    <button class="or_swiggy">order on swiggy</button>
                </a>
                <a href="https://www.zomato.com" class="del">
                    <button class="or_zomoto">order on zomoto</button>
                </a>
            </div> -->
        </div>
        <!-- fruit -->
        <h2 id="fruit">FRUIT POPSICLES</h2>
        <div id="popsicles">
            {% for i in data2 %}
                <div class="fruit_div" id="fruit1">
                    <a href="">
                        <img src="{{ i.img.url}}" alt="" class="fru">
                    </a>
                    <h3>
                        <a href="" class="pop_names">{{ i.name }}</a>
                    </h3><br>
                    <span class="price_fruit">₹{{ i.price }}.00</span><br>
                    <a href="https://www.swiggy.com" class="del">
                        <button class="fruit_swiggy">order on swiggy</button>
                    </a>
                    <a href="https://www.zomato.com" class="del">
                        <button class="fruit_zomoto">order on zomoto</button>
                    </a>
                </div>
            {% endfor%}
            <!-- <div class="fruit_div" id="fruit2">
                <a href="">
                    <img src="https://eatnoto.com/cdn/shop/files/OrangeFront1._940x.jpg?v=1709044908" alt="" class="fru">
                </a>
                <h3>
                    <a href="" class="pop_names" id="ha1">ORANGE POPSICLES</a>
                </h3><br>
                <span class="price_fruit">₹ 120.00</span><br>
                <a href="https://www.swiggy.com" class="del">
                    <button class="fruit_swiggy">order on swiggy</button>
                </a>
                <a href="https://www.zomato.com" class="del">
                    <button class="fruit_zomoto">order on zomoto</button>
                </a>
            </div>
            <div class="fruit_div" id="fruit3">
               <a href="">
                <img src="https://eatnoto.com/cdn/shop/files/KalaJamun_Front._533x.png?v=1709037385" alt="" class="fru">
               </a>
               <h3>
                    <a href="" class="pop_names" id="ha2">KALAJAMUN POPSICLLES</a>
               </h3><br>
               <span class="price_fruit">₹ 120.00</span><br>
               <a href="https://www.swiggy.com" class="del">
                    <button class="fruit_swiggy">order on swiggy</button>
               </a>
               <a href="https://www.zomato.com" class="del">
                    <button class="fruit_zomoto">order on zomoto</button>
               </a>
            </div>
            <div class="fruit_div" id="fruit4">
                <a href="">
                    <img src="https://eatnoto.com/cdn/shop/files/MangoCoconutFront_533x.jpg?v=1709037962" alt="" class="fru">
                </a>
                <h3>
                    <a href="" class="pop_names" id="ha3">MANGO COCONUT POP</a>
                </h3><br>
                <span class="price_fruit">From ₹ 120.00</span><br>
                <a href="https://www.swiggy.com" class="del">
                    <button class="fruit_swiggy">order on swiggy</button>
                </a>
                <a href="https://www.zomato.com" class="del">
                    <button class="fruit_zomoto">order on zomoto</button>
                </a>
            </div> -->
        </div>
         <!-- cheesecakes -->
        <h2 id="cheese">GREEK YOGURT CHEESECAKES</h2>
        <div id="cheesecakes">
            {% for i in data3 %}
                <div class="cheese_div" id="cheese1">
                    <a href="">
                        <img src="{{ i.img.url }}" alt="" class="che">
                    </a>
                    <h3>
                        <a href="" class="cheese_names" id="ch1">{{ i.name }}<br> <span class="cake">CHEESECAKE</span></a>
                    </h3><br>
                    <span class="price_cheese">₹{{ i.price }}.00</span><br>
                    <a href="https://www.swiggy.com" class="del">
                        <button class="cheese_swiggy">order on swiggy</button>
                    </a>
                    <a href="https://www.zomato.com" class="del">
                        <button class="cheese_zomoto">order on zomoto</button>
                    </a>
                </div>
            {% endfor %}
            <!-- <div class="cheese_div" id="cheese2">
                <a href="">
                    <img src="https://eatnoto.com/cdn/shop/files/4swiggy_BisCrush_533x.png?v=1697797297" alt="" class="che">
                </a>
                <h3>
                    <a href="" class="cheese_names" id="ch2">BISCOFF GREEK YOGURT <br> <span class="cake">CHEESECAKE</span></a>
                </h3><br>
                <span class="price_cheese">₹ 120.00</span><br>
                <a href="https://www.swiggy.com" class="del">
                    <button class="cheese_swiggy">order on swiggy</button>
                </a>
                <a href="https://www.zomato.com" class="del">
                    <button class="cheese_zomoto">order on zomoto</button>
                </a>
            </div>
            <div class="cheese_div" id="cheese3">
            <a href="">
                <img src="https://eatnoto.com/cdn/shop/files/swiggy1_RocherRomance_533x.png?v=1697796235" alt="" class="che">
            </a>
            <h3>
                    <a href="" class="cheese_names" id="ch3">NUTELLA GREEK YOGURT <br> <span class="cake">CHEESECAKE</span></a>
            </h3><br>
            <span class="price_cheese">₹ 120.00</span><br>
            <a href="https://www.swiggy.com" class="del">
                <button class="cheese_swiggy">order on swiggy</button>
            </a>
            <a href="https://www.zomato.com" class="del">
                <button class="cheese_zomoto">order on zomoto</button>
            </a>
            </div>
            <div class="cheese_div" id="cheese4">
                <a href="">
                    <img src="https://eatnoto.com/cdn/shop/files/3swiggy_IloveNewYork_360x.png?v=1697798586" alt="" class="che">
                </a>
                <h3>
                    <a href="" class="cheese_names" id="ch4">NEWYORK GREEK YOGURT <br> <span class="cake">CHEESECAKE</span></a>
                </h3><br>
                <span class="price_cheese">From ₹ 120.00</span><br>
                <a href="https://www.swiggy.com" class="del">
                    <button class="cheese_swiggy">order on swiggy</button>
                </a>
                <a href="https://www.zomato.com" class="del">
                    <button class="cheese_zomoto">order on zomoto</button>
                </a>
            </div> -->
        </div>
        <!-- footer -->
        <div id="main_footer">
            <footer>
                <div id="outer_div">
                    <div id="inner_div1" class="inner">
                        <a href="" id="noto_anchor">
                            <img src="https://eatnoto.com/cdn/shop/files/Footer-logo_200x@2x.png?v=1640696212" alt="" id="noto_img">
                        </a>
                        <p id="noto_para">
                            Let's be honest - who doesn't want to tuck <br> into sweets and ice creams everyday? All <br> too often we feel like if we've had a bite of <br> the dessert we might as well have it all - <br> because why not?!?
                        </p>
                    </div>
                    <div id="inner_div2" class="inner">
                        <h2 id="quick_heading">quick links:</h2>
                        <ul>
                            <li class="list_footer"><a href="" class="list_anchor">Ice Cream Bars</a></li>
                            <li class="list_footer"><a href="" class="list_anchor">Fruit Popsicles</a></li>
                            <li class="list_footer"><a href="" class="list_anchor">Low Calorie Ice <br> Cream</a></li>
                            <li class="list_footer"><a href="" class="list_anchor">Mini Bites Ice <br> Cream</a></li>
                            <li class="list_footer"><a href="" class="list_anchor">Ice Cream Cake</a></li>
                            <li class="list_footer"><a href="" class="list_anchor">Greese Yogurt <br> Cheesecake</a></li>
                            <li class="list_footer"><a href="" class="list_anchor">Vegan Mini <br> Bites</a></li>
                            <li class="list_footer"><a href="" class="list_anchor1">Vegan Frozen <br> Desserts</a></li>
                            <li class="list_footer"><a href="" class="list_anchor1">Syrups</a></li>
                            <li class="list_footer"><a href="" class="list_anchor1">About Us</a></li>
                        </ul>
                        <ul id="icon">
                            <li id="facebook">
                                <a href="https://www.facebook.com">
                                    <button id="face_button">
                                        <img src="../static/facebook.png" alt="" id="icons_img1">
                                    </button>
                                </a>
                            </li>
                            <li id="instagram" >
                                <a href="https://www.instagram.com">
                                    <img src="../static/insta.png" alt="" id="icons_img2">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="inner_div3" class="inner">
                        <h2 id="news_heading">newsletter signup:</h2>
                        <form action="">
                            <div id="input_div">
                                <div id="email_div">
                                    <input type="email" placeholder="Enter your Email Address" required id="input">
                                    <button type="submit" id="submit">Go</button>
                                </div>
                            </div>
                        </form>
                        <div id="contact">
                            <p class="order">
                                For any order related queries email us on order@eatnoto.com
                            </p>
                            <br>
                            <p class="order">
                                For any job related queries email us on jobs@eatnoto.com
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
</body>
</html>