*{
  padding: 0px;
  margin: 0px;
}
/* heading */
#heading{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
}
#one{
  position: relative;
  left: 90vh;
}
/* navbar */
#navbar{
  width: 100%;
  height: 50px;
  color: black;
}
.tags{
  text-decoration: none;
  color:black;
  position: relative;
  left: 450px;
  top: 15px;
  font-size: 15px;
  font-family: Helvetica;
  font-weight:bold;
  margin-right: 70px;
}
.tags:hover{
  color: #ad84bb;
}
.dropdown {
  position: relative;
  left: 425px;
  top: 15px;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  font-size: 15px;
  font-family: Helvetica;
  font-weight:bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 8px;
  font-size: 16px;
}

.dropbtn:hover {
  background-color: #ad84bb;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu when hovering over the button */
.dropdown:hover .dropdown-content {
  display: block;
}
#side_heading{
  width: fit-content;
  font-size: 2.7vh;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 5vh;
}
.product-image img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 100px;
  }
  
  .product-card {
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 400px;
  }